
<div class="container">
<h1>Stupid coaching</h1>
<div class='block question'>
<p> <%= @question %> </p><br>
<p><strong><em>Olivier</em></strong></p>
</div>
<div class='block answer'>
<p> <%= @answer %> </p><br>
<p><strong><em>Philippe Lucas</em></strong></p>
</div>
<%= link_to "ask a new question", ask_path %>
</div>
