<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<div class="container">
<h1>Stupid Coaching</h1>
<p>Ask a question</p>

<form class="form-inline" action="answer" method='get'>
    <div class="form-group">
    <input type="text" name="question" placeholder="what do you want to ask?" class="form-control">
    </div>
    <div>
    <input type="submit" class="btn btn-primary">
    </div>
</form>
</div>


